<h1>Edit Animal</h1>

<form action="/animals/<%= @animal.id %>/update" method="post" enctype="multipart/form-data">

  <!-- Name -->
  <label for="name-field">Name:</label>
  <input id="" type="text" name="name" value="<%= @animal.name %>"/>
  <br><br>

  <!-- Type -->
  <label for="type-field">Type:</label>
  <input readonly id="" type="text" name="type" value="<%= @animal.type %>"/>
  <br><br>

  <!-- Gender -->
  <% gender = @animal.gender %>
  <label for="gender-selection">Gender:</label>
  <select name="gender">
    <option></option>
    <% if gender.downcase == 'male' %>
      <option value="male" selected>Male</option>
      <option value="female">female</option>
    <% elsif gender.downcase == 'female' %>
      <option value="male">Male</option>
      <option value="female" selected>Female</option>
    <% else %>
      <option value="male">Male</option>
      <option value="female">Female</option>
    <% end %>
  </select>
  <br><br>

  <!-- Age -->
  <label for="age-field">Age:</label>
  <input id="" type="text" name="age" value="<%= @animal.age %>"/>
  <br><br>

  <!-- Breed -->
  <label for="breed-field">Breed:</label>
  <input id="" type="text" name="breed" value="<%= @animal.breed %>"/>
  <br><br>

  <!-- Admission date -->
  <label for="admission-date-field">Admission date:</label>
  <input id="" type="text" name="admission_date" value="<%= @animal.admission_date%>"/>
  <br><br>

  <!-- Adoptable -->
  <label for="adoptable-selection">Adoptable?:</label>
  <select name="adoptable">
    <option></option>
    <!-- Display existing value -->
    <% if @animal.adoptable == 't' %>
      <option value="t" selected>Yes</option>
      <option value="f">No</option>
    <% elsif @animal.adoptable == 'f' %>
      <option value="t">Yes</option>
      <option value="f" selected>No</option>
    <% else %>
      <option value="t">Yes</option>
      <option value="f">No</option>
    <% end %>
  </select>
  <br><br>

  <% if @animal.type == 'cat' %>
    <% for details in @cat_details %>
      <% if details.cat_id.to_i == @animal.id %>

        <!-- HACK. Use of hidden element. See comment in -->
        <!-- animals_controller.rb -->
        <input name= "cat_details_id" type="hidden" value="<%= details.id %>">

        <!-- Colour -->
        <label for="colour-field">Colour:</label>
        <input id="" type="text" name="colour" value="<%= details.colour %>"/>  
        <br><br>

        <!-- Live with cats -->
        <label for="live-with-cats-selection">Can live with cats?:</label>
        <select name="live_with_cats">
          <option></option>
          <!-- Display existing value -->
          <% if details.live_with_cats == 't' %>
            <option value="t" selected>Yes</option>
            <option value="f">No</option>
          <% elsif details.live_with_cats == 'f' %>
            <option value="t">Yes</option>
            <option value="f" selected>No</option>
          <% else %>
            <option value="t">Yes</option>
            <option value="f">No</option>
          <% end %>
        </select>
        <br><br>

        <!-- Live with dogs -->
        <label for="live-with-dogs-selection">Can live with dogs?:</label>
        <select name="live_with_dogs">
          <option></option>
          <!-- Display existing value -->
          <% if details.live_with_dogs == 't' %>
            <option value="t" selected>Yes</option>
            <option value="f">No</option>
          <% elsif details.live_with_dogs == 'f' %>
            <option value="t">Yes</option>
            <option value="f" selected>No</option>
          <% else %>
            <option value="t">Yes</option>
            <option value="f">No</option>
          <% end %>
        </select>
        <br><br>

        <!-- Live with family -->
        <label for="live-wth-family-selection">Can live with family?:</label>
        <select name="live_with_family">
          <option></option>
          <!-- Display existing value -->
          <% if details.live_with_family == 't' %>
            <option value="t" selected>Yes</option>
            <option value="f">No</option>
          <% elsif details.live_with_family == 'f' %>
            <option value="t">Yes</option>
            <option value="f" selected>No</option>
          <% else %>
            <option value="t">Yes</option>
            <option value="f">No</option>
          <% end %>
        </select>
        <br><br>

        <!-- Indoor cat -->
        <label for="indoor-cat-selection">Indoor cat?:</label>
        <select name="indoor_cat">
          <option></option>
          <!-- Display existing value -->
          <% if details.indoor_cat == 't' %>
            <option value="t" selected>Yes</option>
            <option value="f">No</option>
          <% elsif details.indoor_cat == 'f' %>
            <option value="t">Yes</option>
            <option value="f" selected>No</option>
          <% else %>
            <option value="t">Yes</option>
            <option value="f">No</option>
          <% end %>
        </select>
        <br><br>

      <% end %>
    <% end %>
  <% end %>

  <!-- Summary -->
  <label for="summary-field">Summary:</label>
  <input id="" type="text" name="summary" size="100" value="<%= @animal.summary %>"/>  
  <br><br>

  <!-- Owner -->
  <label for="owner-selection">Owner:</label>
  <select name="owner_id">
    <option><option>
    <!-- Display existing value -->
    <% @owners.each do |owner| %>
      <% if @animal.owner_id.to_i == owner.id %>
        <option value="<%= owner.id %>" selected><%= owner.name %></option>
      <% else %>
        <option value="<%= owner.id %>"><%= owner.name %></option>
      <% end %>
    <% end %>
  </select>
  <br><br>

  <!-- Show current image -->
  <% if @animal.image_name != '' %>
    <p>Current image</p>
    <p>
      <img src="/images/<%= @animal.image_name %>" alt="<%= @animal.name %>" height="200" width="200">
    </p>
  <% end %>

  <!-- Upload new image -->
  <p>Upload replacement image</p>
  <input type="file" name="image">
  <br><br>

  <input class="btn" type='submit' value="Update">

</form>