<h1><%= @heading %></h1>

<form action="/animals/new" method="get">
  <input class="" type="submit" value="Add" />
</form> 
<form action="/animals/delete_all" method="post">
  <input class="" type="submit" value="Delete All" />
</form>  

<hr>

<% @animals.each do |animal| %>
  
  <p>
    ID: <%= animal.id %><br>
    Name: <%= animal.name %><br>
    Type: <%= animal.type %><br>
    Admission Date: <%= animal.admission_date %><br>
    Adoptable?:
    <% if animal.adoptable == 't' %>
      Yes
    <% else %>
      No
    <% end %>
    <br>
    <% for owner in @owners do %>
      <% if owner.id == animal.owner_id.to_i %>
        Owner: <a href="/owners/<%= animal.owner_id%>"><%= owner.name %></a>
        <% break %>
      <% end %>
    <% end %>
  </p>
  
  <form action="/animals/<%= animal.id %>/edit" method="get">
    <input class="" type="submit" value="Edit" />
  </form>  
  <form action="/animals/<%= animal.id %>/delete" method="post">
    <input class="" type="submit" value="Delete" />
  </form>  
  
  <hr>

<% end %>
