<h1>Animal</h1>

<hr>

<p>
  ID: <%= @animal.id %><br>
  Name: <%= @animal.name %><br>
  Type: <%= @animal.type %><br>
  Gender: <%= @animal.gender %><br>
  Age: <%= @animal.age %><br>
  Breed: <%= @animal.breed %><br>
  Admission Date: <%= @animal.admission_date %><br>
  
  Adoptable?:
  <% if @animal.adoptable == 't' %>
    Yes
  <% else %>
    No
  <% end %>
  <br>

  <!-- Display cat details, as required -->
  <% if @animal.type == 'cat' %>
    <% for details in @cat_details %>
      <% if details.cat_id.to_i == @animal.id %>
        Colour: <%= details.colour %><br>
        Can live with cats?: 
        <% if details.live_with_cats == 't' %>
          Yes
        <% else %>
          No
        <% end %>
        <br>
        Can live with dogs?:
        <% if details.live_with_dogs == 't' %>
          Yes
        <% else %>
          No
        <% end %>
        <br>
        Can live with family?:
        <% if details.live_with_family == 't' %>
          Yes
        <% else %>
          No
        <% end %>
        <br>
        Indoors cat?:
        <% if details.indoor_cat == 't' %>
          Yes
        <% else %>
          No
        <% end %>
        <br>
        <% break %>
      <% end %>
    <% end %>
  <% end %>

  <% for owner in @owners do %>
    <% if owner.id == @animal.owner_id.to_i %>
      Owner: <a href="/owners/<%= @animal.owner_id%>"><%= owner.name %></a>
      <% break %>
    <% end %>
  <% end %>
</p>

<!-- Show image -->
<p>
  <img src="/images/peanut.jpg" alt="Hope this works..." height="200" width="200">
</p>

<form action="/animals/<%= @animal.id %>/edit" method="get">
  <input class="" type="submit" value="Edit" />
</form>  
<form action="/animals/<%= @animal.id %>/delete" method="post">
  <input class="" type="submit" value="Delete" />
</form>  

<hr>
