<h1>Owners</h1>

<form action="/owners/new" method="get">
  <input class="btn" type="submit" value="Add" />
</form>  
<form action="/owners/delete_all" method="post">
  <input class="btn" type="submit" value="Delete All" />
</form> 

<br><br>
<hr>
  
<% @owners.each do |owner| %>

  <p>
    Name: <%= owner.name %><br>
    Animals:
    <% for animal in @animals %>
      <% if animal.owner_id.to_i == owner.id %>
        <a href="/animals/<%= animal.id %>"><%= animal.name %></a>
      <% end %>
    <% end %>
  </p>

  <% if owner.id != 1 %>
  
    <form action="/owners/<%= owner.id %>/edit" method="get">
      <input class="btn" type="submit" value="Edit" />
    </form>  
    <form action="/owners/<%= owner.id %>/delete" method="post">
      <input class="btn" type="submit" value="Delete" />
    </form>

    <br><br>
    <hr>

  <% else %>

    <hr>

  <% end %>

<% end %>